<template>
  <div>
    <BannerPage />
    <div class="main-container">
      <div class="container-card">
        <h2 class="app-title w-100 text-h5 font-weight-bold mb-4 text-white">
          TODO
        </h2>
        <TaskCard />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

import BannerPage from "@/components/BannerPage.vue"
import TaskCard from "@/components/TaskCard.vue"


</script>

<style scoped>
.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.app-title {
  max-width: 450px;
}
.container-card {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
