<template>
  <img
    class="banner-img"
    :src="bgDesktopLight"
  >
</template>

<script setup lang="ts">
import bgDesktopLight from '@/assets/bg-desktop-light.png'
</script>
<style scoped>
.banner-img{
 width: 100%;  
}
</style>

