<template>
  <div
    class="d-flex align-center justify-space-between gc-2"
  >
    <div class="task-main">
      <v-checkbox
        v-model="taskCompleted"
        hide-details
        color="#98A1AE"
        density="compact"
        @update:model-value="checkTodo(task)"
      />
      <span
        class="text-truncate"
        :class="{ 'task-completed': task.completed }"
      >{{ task.title }}</span>
    </div>
    <div class="d-flex gc-2">
      <template v-if="!$vuetify.display.xs">
        <v-btn
          color="indigo"
          variant="text"
          density="compact"
          icon="mdi-pencil"
          @click="$emit('click:update-task')"
        />
        <v-btn
          color="red"
          variant="text"
          density="compact"
          icon="mdi-delete"
          @click="$emit('click:delete-task', task)"
        />
      </template>
      <template v-else>
        <v-btn
          ref="ACTIONS_MENU_REF"
          variant="text"
          icon="mdi-dots-vertical"
        />
        <v-menu
          :activator="ACTIONS_MENU_REF"
        >
          <v-list class="pt-0">
            <v-list-item
              max-height="48"
              class="px-3"
              @click="$emit('click:update-task', task)"
            >
              <v-icon
                color="#5A6472"
                icon="mdi-content-copy"
                size="22"
              />
              <span class="text-body-2 ml-2">Editar</span>
            </v-list-item>
            <v-divider />
            <v-list-item
              height="48px"
              class="px-3 text-error"
              @click="emit('click:delete-task',task)"
            >
              <v-icon icon="mdi-trash-can-outline" />
              <span class="text-body-2 ml-2">Eliminar</span>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import type { ITask } from '@/types/task';

interface Props {
  task: ITask
}
const props = defineProps<Props>()
const emit = defineEmits(['click:delete-task', 'click:update-task'])
const ACTIONS_MENU_REF = ref()
const taskCompleted = ref(false)

const checkTodo = (task: ITask) => {
  (task.completed = !task.completed);
};
onMounted(() => {
  taskCompleted.value = props.task.completed
})
</script>

<style lang="scss" scoped>
.task-main {
  display: grid;
  grid-template-columns: 34px minmax(100px, auto);
  align-items: center
}

.task-completed {
  color: #98A1AE;
  text-decoration: line-through;
}
</style>
