<template>
  <v-card max-width="450">
    <div class="d-flex gc-4 px-5 py-4">
      <div class="flex-grow-1">
        <v-text-field
          v-model="searchText"
          density="compact"
          label="New task"
          placeholder="Recoger documentos en SUNAT"
          prepend-inner-icon="mdi-magnify"
          variant="outlined"
          hide-details="auto"
          clearable
          @click:clear="handleClearSearchTextInput"
        />
      </div>
      <v-btn
        depressed
        density="compact"
        color="primary"
        class="text-none"
        width="104"
        size="x-large"
        @click="showTaskAddModal = true"
      >
        <v-icon>mdi-plus</v-icon>
        Create
      </v-btn>
    </div>
    <v-divider />
    <v-card-text class="py-3 px-5">
      <div>
        <TaskItem
          v-for="task in tasksFiltered"
          :key="task.id"
          :task="task"
          @click:delete-task="handleDeleteTask(task)"
          @click:update-task="handleEditTask(task)"
        />
      </div>
      <!-- <div v-else>
        <span>No hay datos</span>
      </div> -->
    </v-card-text>
    <v-divider />
    <v-card-actions>
      <span class="text-caption">{{ tasksUncompleted }} items left</span>
      <v-btn
        size="small"
        :color="filterName === FILTER_ALL ? 'success' : ''"
        @click="filterName = FILTER_ALL"
      >
        All
      </v-btn>
      <v-btn
        size="small"
        :color="filterName === FILTER_PENDING ? 'success' : 'primary'"
        density="compact"
        class="text-none"
        @click="handleTaskPendingClick"
      >
        Pending
      </v-btn>
      <v-btn
        size="small"
        :color="filterName === FILTER_COMPLETED ? 'success' : 'primary'"
        density="compact"
        class="text-none"
        @click="handleTaskCompletedClick"
      >
        Completed
      </v-btn>
      <v-btn
        size="small"
        color="error"
        density="compact"
        class="text-none"
        @click="handleTaskClearClick"
      >
        Clear Completed
      </v-btn>
    </v-card-actions>
  </v-card>
  <TaskAddModal
    v-model="showTaskAddModal"
    @task:add-item="handleAddTask"
  />
  <TaskEditModal
    v-if="taskToEdit"
    v-model="showTaskEditModal"
    :task="taskToEdit"
    @task:update-item="handleUpdateTask"
  />
</template>

<script setup lang="ts">
import { ref, computed, watch, inject } from 'vue';
import TaskItem from '@/components/TaskItem.vue'
import TaskEditModal from "@/components/TaskEditModal.vue"
import TaskAddModal from "@/components/TaskAddModal.vue"
import type { ITask } from '@/types/task'
import { FILTER_COMPLETED, FILTER_ALL, FILTER_PENDING, FILTER_SEARCH } from '@/constants/taskFilters'

const Swal = inject('$swal') as any
const searchText = ref('');
const showTaskEditModal = ref(false);
const showTaskAddModal = ref(false);
const taskToEdit = ref<ITask | null>(null)
const filterName = ref(FILTER_ALL)
const tasks = ref<ITask[]>([
  {
    id: 0,
    title: 'Ir al mercado',
    completed: false
  },
  {
    id: 1,
    title: 'Revisar la tienda de amazon, comprar libros sobre web',
    completed: true
  },
  {
    id: 2,
    title: 'Neque porro quisquam est qui dolorem iconsectetur, adipisci velit.',
    completed: false
  },
  {
    id: 3,
    title: 'Neque porro quisquam est qui dolorem iconsectetur, adipisci velit.',
    completed: true
  },
  {
    id: 4,
    title: 'Neque porro quisquam est qui dolorem iconsectetur, adipisci velit.',
    completed: true
  }
])

const tasksFiltered = computed(() => {
  let itemsFiltered = tasks.value;
  switch (filterName.value) {
    case FILTER_COMPLETED:
    itemsFiltered = tasks.value.filter((item: ITask) => item.completed === true)
      break;
    case FILTER_PENDING:
    itemsFiltered = tasks.value.filter((item: ITask) => item.completed === false)
      break;
    default:
    itemsFiltered = tasks.value.filter((item: ITask) => {
        const taskTitle = item.title?.toLowerCase() || '';
        const search = searchText.value.toLowerCase()
        return taskTitle.includes(search)
      })
      break;
  }
  return itemsFiltered;

})
const tasksUncompleted = computed(() => {
  const tasksUncompleted = tasks.value.filter((item:ITask) => item.completed === false)
  return tasksUncompleted.length
})

watch(showTaskEditModal, () => {
  if (!showTaskEditModal.value) {
    taskToEdit.value = null
  }
})
const handleClearSearchTextInput = () => {
  searchText.value = ''
  filterName.value = FILTER_SEARCH
}
const handleEditTask = (item: ITask) => {
  taskToEdit.value = item
  showTaskEditModal.value = true
}
const handleUpdateTask = (taskItem: ITask) => {
  tasks.value = tasks.value.map((item:ITask) => {
    if (item.id === taskItem.id) {
      return taskItem
    } else {
      return item
    }
  })
}
const handleAddTask = (newTask: ITask) => {
  newTask.id = tasks.value.length + 1;
  tasks.value.push(newTask);
  filterName.value = FILTER_ALL
}
const handleDeleteTask = (item: ITask) => {

  Swal.fire({
    title: "¿Desea eliminar la tarea: \n" + item.title + " ?",
    showDenyButton: false,
    showCancelButton: true,
    confirmButtonText: "Si, eliminar",
    // denyButtonText: "No eliminar",
  })
    .then((result: any) => {
      if (result.isConfirmed) {
        const taskId = item.id;
        tasks.value = tasks.value.filter((taskItem: ITask) => {
          return taskItem.id !== taskId
        });
        // Swal.fire("Eliminado!", "La tarea ha sido removido exitosamente", "success");

      } else if (result.isDenied) {
        // Swal.fire("La tarea no se ha eliminado", "", "info");

      }
    });
}

const handleTaskCompletedClick = () => {
  filterName.value = FILTER_COMPLETED
}

const handleTaskPendingClick = () => {
  filterName.value = FILTER_PENDING
}

const handleTaskClearClick = () => {
  tasks.value = tasks.value.filter((taskItem: ITask) => {
    return taskItem.completed !== true
  });
  filterName.value = FILTER_ALL

}
</script>

