<template>
  <v-dialog
    v-model="showModal"
    max-width="500"
    transition="dialog-transition"
  >
    <v-card>
      <v-toolbar
        height="42"
        flat
        color="info"
      >
        <v-toolbar-title class="text-subtitle-1 font-weight-medium">
          Agregar Tarea
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          density="comfortable"
          icon
          @click="showModal = false"
        >
          <v-icon icon="mdi-close" />
        </v-btn>
      </v-toolbar>
      <v-divider />
      
      <v-card-text>
        <v-form
          id="TASK_ADD_FORM"
          ref="CREATE_TASK_FORM"
          v-model="validForm"
          @submit.prevent="handleSaveTask"
        >
          <v-text-field
            v-model="taskTitle"
            label="Nombre de la tarea"
            prepend-inner-icon="mdi-monitor"
            variant="outlined"
            density="compact"
            hide-details="auto"
            clearable
            class="mb-2"
            :rules="rules.title"
          />
        </v-form>
      </v-card-text>
      
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          type="submit"
          form="TASK_ADD_FORM"
        >
          Guardar
        </v-btn>
        <v-btn @click="showModal = false">
          Cancelar
        </v-btn>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script setup lang="ts">
import { ITask } from '@/types/task';
import { ref, computed, watch } from 'vue';

interface Props {
  modelValue: boolean
}
const props = defineProps<Props>()
const emit = defineEmits(['update:modelValue', 'task:close-modal', 'task:add-item'])

//Variables
const taskTitle = ref('');
const CREATE_TASK_FORM = ref()
const validForm = ref(true)
const rules = ref({
  title: [(v: any) => !!v || "Nombre de la tarea es requerido"]
})

const showModal = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

watch(showModal, () => {
  if(!showModal.value){
    CREATE_TASK_FORM.value.reset()
  }
})

const handleSaveTask = async () => {
  try {
    const { valid } = await CREATE_TASK_FORM.value.validate()
    if (!valid) return
    const task:ITask = {
      id : 0,
      title: taskTitle.value,
      completed: false
    }
    emit("task:add-item", task);
    showModal.value = false
  } catch (error) {
    //
  }
}

</script>
